body{
    font-family: cursive;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("cats2.jpg");
}
header {
    background-color: rgb(252, 85, 174);
    color: aqua;
    padding: 15px 0px;
    font-size: 1.4em;
    border-bottom:7px dashed aqua ;
}
section {
    background-color: rgba(252, 120, 190, 0.5);
    margin: 30px;
    padding: 7px;
    border: 4px dashed rgba(28, 228, 228, 0.808);
    color: aqua;
}
img {
    height: 250px;
    width: auto;
}
.straypinkbutt {
    background-color: rgba(246, 88, 183, 0.69);
    padding: 10px 40px;
    border: 5px outset rgb(247, 144, 204);

}